@{
    ViewData["Title"] = "Gestão de férias";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Aprenda sobre <a href="https://docs.microsoft.com/aspnet/core"> desenvolvimento de Aplicativos Web com ASP.NET Core</a>.</p>
    <p>Clique <a asp-action="LimparBanco" asp-controller="Home">aqui</a> para deletar todos os dados do banco.</p>
</div>
